body{
    margin:0;padding:0; background-image: linear-gradient(rgb(218, 241, 247),rgb(201, 227, 245));
}
p{font-size:20px;}
.main_wrapper{
    padding:50px 100px;
}
.first_section .head_border{
    border-left:5px solid green;
    
}
.mheading{
    margin-left:10px;
}
.mheading h1{font-size:35px; font-weight:700; line-height: 20px;}
.text{margin-top:10px;margin-bottom: 10px; padding:20px;}
.explore_more{
    color:saddlebrown;
    padding-top:25px;
    font-size: 20px;
}
.second_section h1{
    text-align: center;
    font-weight: 650;

}


.third_section{
    margin-top:50px;
}



























.footer{
    
    width:100%;
    text-align: center;
    background-color:black;
    color:rgb(230, 212, 212);
    padding:50px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}













.fot{color:green;}















/*some root css*//*some root css*//*some root css*/
.flex{display:flex;
    align-items: center;
    justify-content: center;
}
/*COLOR*/
.green{color:green;} .yellow{color:yellowgreen}.red{color:rgba(245, 104, 104, 0.651)} 
/*Link Link Link*/
a{text-decoration: none;
    padding:10px 25px;
    background-image: linear-gradient(green,rgb(184, 235, 184));
     border-radius:10px;
     font-size: 20px;
     font-weight: 600;
     color:white;}
/*DIVDIVDIV DIV DIV DIV DIV*/
.two_div{width:40%; margin-right:5%;margin-left:5%;height:550px;}
.three_div{border-radius:10px;margin-top:20px;width:33%;margin-left:3%;margin-right:%; height:400px;box-shadow: 5px 5px 5px 3px rgb(104, 88, 88);padding:1px 20px}

/*image*//*image*//*image*//*image*//*image*//*image*/
.two_div img{width:100%;height:500px;border-radius: 15px;}
.three_div img{ width:50%;height:200px; }
