/*some root css*/
.flex{display:flex}
.green{color:green;} .yellow{color:yellowgreen}.red{color:rgba(245, 104, 104, 0.651)} a{text-decoration: none;padding:10px 25px;background-image: linear-gradient(green,rgb(184, 235, 184)); border-radius:10px;}

/*star css for work*/
body{
    margin:0;padding:0;
}
.main_wrapper{
    margin:0 100px; background-image: linear-gradient(rgb(218, 241, 247),rgb(201, 227, 245));
}
