body{
    margin:0;padding:0; background-image: linear-gradient(rgb(218, 241, 247),rgb(201, 227, 245));
}
.main_wrapper{
    padding:50px 100px;
}
.first_section{

}
.footer{
    
    width:100%;
    text-align: center;
    background-color:black;
    color:rgb(230, 212, 212);
    padding:50px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fot{color:green;}














/*some root css*/
/*some root css*//*some root css*//*some root css*/
.flex{display:flex;
    align-items: center;
    justify-content: center;
}
/*COLOR*/
.green{color:green;} .yellow{color:yellowgreen}.red{color:rgba(245, 104, 104, 0.651)} 
/*Link Link Link*/
a{text-decoration: none;
    padding:10px 25px;
    background-image: linear-gradient(green,rgb(184, 235, 184));
     border-radius:10px;
     font-size: 20px;
     font-weight: 600;
     color:white;}
/*DIVDIVDIV DIV DIV DIV DIV*/
.two_div{width:40%; margin-right:5%;margin-left:5%;height:550px;}
.three_div{width:30%;margin-left:3%;margin-right:5%; height:550px;box-shadow: 5px 5px 5px 3px rgb(104, 88, 88);padding:1px 20px}

/*image*//*image*//*image*//*image*//*image*//*image*/
.two_div img{width:100%;height:500px;border-radius: 15px;}
.three_div img{ width:50%;height:200px; }

/*star css for work
.simg{ }
img{width: 100%;height:100%;}

.shight{
    width:100%;
    height:550px;
}
/*